*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    margin-top: 2%;
}

h1{
    width: 600px;
    height: 50px;
    margin: auto;
}

#subtitulo{
    width: 300px;
    height: 30px;
    margin: auto;
}

fieldset{
    position: relative;
    display: table;
    top: auto;
    border: 0px;
    height: auto;
    margin: 20px;
    overflow: auto;  
    width: 600px;  
    padding: 0px;
}

.coluna1{
    width: 200px;
    height: 60px;
    display: inline-block;
    text-transform: capitalize;
}

.coluna2{
    text-transform: capitalize;
    display: inline-block;
    width: 200px;
    height: 60px;
}

.coluna3{
    position: absolute;
    width: 200px;
    height: 60px;
}

.coluna4{
    position: relative;
    left: 210px;
    width: 200px;
    height: 60px;
    overflow: none;
}

label{
    position: relative;
    padding: 0;
    margin: 10px;
    width: auto;
}

.campo{
    margin: 1rem;
}
.grupo:after {
    clear: both;
}

.campo label {
    margin-bottom: 1em;
    color: black;
    display: block;
}

input, select, button {
    font-family: sans-serif;
    font-size: 1em;
    color: black;
    border-radius: 5px;
}

textarea{
    box-shadow: black;
    margin: auto;
    display: block;
    border-radius: 5px;
}

.botao {
    font-size: 1.2em;
    background: #12a071;
    border: 0;
    margin-bottom: 2em;
    color: #ffffff;
    padding: 0.2em 0.9em;
    box-shadow: 2px 2px 2px rgba(193, 247, 230, 0.2);
    text-shadow: 1px 1px 1px rgba(163, 175, 156, 0.288);
    position: fixed;
    top: 97%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
}

.botao:hover {
    background: #ced4cf;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}